---
import type { Sponsor } from "./types";
import { SponsorLevels } from "./types";
import { Image } from "@astrojs/image/components";

const {
    name,
    description,
    url,
    width,
    height,
    logo,
    level,
} = Astro.props as Sponsor;

let articlestyle = " ";
let imsize = 1;
let namesize = "text-sm"

if (level == SponsorLevels.Platinum) {
  imsize = 1.2
  articlestyle = "bg-gradient-to-br from-platinum-1 via-platinum-2 to-platinum-3 hover:no-underline"; //bg-primary/50 hover:bg-primary/20 hover:no-underline
} else if (level == SponsorLevels.Gold) {
  articlestyle = "bg-gradient-to-br from-gold-1 via-gold-2 to-gold-3 hover:no-underline";
} else if (level == SponsorLevels.Silver) {
  articlestyle = "bg-gradient-to-br from-silver-1 via-silver-2 to-silver-3";
} else if (level == SponsorLevels.Bronze) {
  articlestyle = " bg-gradient-to-br from-bronze-1 via-bronze-2 to-bronze-3 flex-col ";
}

---

<a
        href={`${url}`}
        target="_blank"
      >
<article
  class=`items-center flex flex-wrap flex-col ${level != SponsorLevels.Bronze ? "sm:flex-row" : " "} items-start rounded-lg bg-cover px-4 p-4 transition-colors hover:animate-pulse text-sponsor-text ${articlestyle}`
>
  <Image
    src={logo}
    width={width * imsize}
    height={height * imsize}
    class=`bg-white ${level == SponsorLevels.Bronze ? "" : "mr-3 pr-10"} h-${imsize} w-${imsize}`
    alt={`@${name}'s logo`}
  />
  <div class=`flex flex-1 flex-wrap ${level == SponsorLevels.Bronze ? "justify-start" : "pl-10"}`>
    <h3 class=`${level == SponsorLevels.Bronze ? " t" : "mr-2"} font-bold hover:underline ${level == SponsorLevels.Platinum || level == SponsorLevels.Gold || level == SponsorLevels.Silver ? "text-xl" : ""}`>
      <a
        href={`${url}`}
        target="_blank"
        rel="noopener noreferrer"
        class=`${level != SponsorLevels.Bronze ? "text-xl" : namesize}`
      >
      {name}
      </a>
    </h3>
    <p class=`my-1 whitespace-pre-line text-sm xl:text-base truncate ${level == SponsorLevels.Bronze ? ' hidden ' : ' '}`>{description}</p>
  </div>
</article>
