---
import type { Sponsor } from "./types";
import { Image } from "@astrojs/image/components";

const {
    name,
    description,
    url,
    logo,
    level,
} = Astro.props as Sponsor;

let level2style = "bg-white/10 hover:bg-white/20 hover:no-underline";

let articlestyle = " ";
let imsize = '100';

if (level == 1) {
  imsize = '120'
  articlestyle = "bg-primary/50 hover:bg-primary/20 hover:no-underline";
} else if (level == 2) {
  articlestyle = "bg-primary/10 hover:bg-primary/5 hover:no-underline";
}

let namesize = "text-sm"
---

<a
        href={`${url}`}
        target="_blank"
        rel="noopener noreferrer"
        class="text-sm hover:text-[#1da1f2] sm:text-base"
      >
<article
  class=`flex flex-wrap items-start rounded-lg border border-dnt-orange-200/20 bg-cover px-4 p-4 transition-colors hover:border-dnt-orange-300/50 ${articlestyle}`
>
  <Image
    src={logo}
    width={imsize}
    height={imsize}
    class=`mr-3 h-${imsize} w-${imsize} bg-white pr-10`
    alt={`@${name}'s logo`}
  />
  <div class="flex flex-1 flex-wrap justify-start pl-10">
    <h3 class="mr-2 font-bold hover:underline">
      <a
        href={`${url}`}
        target="_blank"
        rel="noopener noreferrer"
        class="text-sm hover:text-[#1da1f2] sm:text-base"
      >
        {name}
      </a>
    </h3>
    <p class="my-1 whitespace-pre-line text-sm xl:text-base truncate">{description}</p>
  </div>
</article>
