---
import type { Roles } from "./types";

export interface Props {
    role: Roles;
}

const { role } = Astro.props as Props;

// let levelstyleInner = "m-8 flex items-center dark:bg-white";
// let levelstyleOuter = " flex-row justify-center items-center h-3/4";
// let margins = "m-10 mb-24 mt-12";
// let levelName = "Platinum";
---

<div class="flex-none w-4/5 md:w-2/5 flex flex-col p-4 m-4 border-2 border-partner-text rounded-md">
    <h2 class="text-3xl font-bold text-partner-text">{role.name}</h2>
    <hr>
    <p class="pt-2">{role.description}</p>
    <div class="flex align-center items-center text-center">
        {
            role.tags.map((tag) => (
              <div class="bg-partner-text rounded-lg mx-1 my-1">
                <p class="px-2 text-white">{tag}</p>
              </div>
            ))
          }
    </div>
</div>
<!-- <div class=`${margins}`>
    <h1
          class="mb-2 text-center text-3xl font-bold text-partner-text"
        >
          {levelName}
        </h1>
    <div class=`flex w-full content-center ${levelstyleOuter}`>
      <p class=`${partners.length == 0 ? " " : "hidden"} mt-8 text-center md:text-left`>We don't have partners in this catogory yet. Do you want to be the first? Mail at: <a
        href="mailto:partnerships@dutchnaoteam.nl"
        class="text-partner-text underline hover:text-partner-text text-center md:text-left hover:decoration-wavy dark:text-white"
        >partnerships@dutchnaoteam.nl</a
      ></p>
      <div class= `${partners.length == 0 ? "hidden" : " "} dark:bg-white dark:w-full dark:rounded-lg dark:md:w-1/2 content-center  justify-center flex`>
        {
          partners.map((partner) => (
            <div class={levelstyleInner}>
              <PartnerLogo {...partner} />
            </div>
          ))
        }
      </div>
    </div>
  </div> -->