---
import SponsorContainer from "./sponsors/sponsorContainer.astro";
import { SponsorListLevel1, SponsorListLevel2, SponsorListLevel3 } from "./sponsors/types";


---
<div
  class="lg:items-begin my-16 items-center justify-center w-full p-10"
>
  <h1
  class="mb-2 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
  >
  Our sponsors
  </h1>
  <div
    class="lg:items-begin my-16 items-center justify-center w-full space-y-28"
  >
    <div class=" ">
      <h1
        class="mb-2 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
      >
        Platinum
      </h1>
      <SponsorContainer sponsors = {SponsorListLevel1} level = {1}></SponsorContainer>
    </div>
    <div class=" ">
      <h1
        class="mb-2 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
      >
        Gold
      </h1>
      <SponsorContainer sponsors = {SponsorListLevel2} level = {2}></SponsorContainer>
    </div>
    <div class=" ">
      <h1
        class="mb-2 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
      >
        Silver
      </h1>
      <SponsorContainer sponsors = {SponsorListLevel3} level = {3}></SponsorContainer>
    </div>
    <div class=" ">
      <h1
        class="mb-2 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
      >
        Bronze
      </h1>
      <SponsorContainer sponsors = {SponsorListLevel1} level = {3}></SponsorContainer>
    </div>
    <div class=" ">
      <h1
        class="mb-2 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
      >
        Supporter
      </h1>
      <SponsorContainer sponsors = {SponsorListLevel1} level = {3}></SponsorContainer>
    </div>
  </div>
  <!-- <img src="/images/Team_Complete.webp" width="800px" alt="DNT team image" /> -->
</div>